  {% extends "base.html" %}
  {% block body %}

                <section class="banner-con float-left w-100 position-relative">
                    <div class="container">
                        <div class="banner-content-con">
                            <h1>AnomAlert <br>
                                Real-Time Network Anomaly Detection</h1>

                            <p>
                                A machine learning system for detecting and classifying network anomalies in real time.<br>
                                Using preprocessing, visualization, model training, and AI-powered detection.
                            </p>

                            <a href="/predict" class="text-decoration-none primary_btn d-inline-block mr-2">Get Started</a>
                           
                        </div>

                <div class="banner-bottom-content d-flex align-items-end justify-content-between">
                    <div class="statistics-wrapper d-flex">
                        <div class="statistics-box">
                            <span class="d-inline-block text-white  ">MLP</span>
                            <sup class="d-inline-block text-white "></sup>
                            <span class="span-text d-block">Neural Models</span>
                            <!-- statistics box -->
                        </div>
                        <div class="statistics-box var2">
                            <span class="d-inline-block text-white  ">RNN</span>
                             <sup class="d-inline-block text-white ">+</sup><span
                            
                                class="d-inline-block alphabet text-white">LSTM</span>
                           
                            <span class="span-text d-block">Sequence Models</span>
                            <!-- statistics box -->
                        </div>
                        <!-- statistics wrapper  -->
                    </div>
                    <div class="scroll-down text-center">
                        <span class="d-block text-white font-weight-500">
                            Scroll Down
                        </span>
                        <a href="#about" class="d-block"><img src="static/images/scroll-down-icon.png" alt="scroll down"
                                class="img-fluid"></a>
                        <!-- scroll down -->
                    </div>
                    <div class="best-ai-tools-box d-flex justify-content-between align-items-center">
                        <figure class="mb-0"><img src="static/images/banner-tool-img.jpg" alt="tool img"
                                class="img-fluid"></figure>
                        <div class="tool-content">
                            <h4>Network Anomaly Insights</h4>
                            <p class="mb-0 text-white">Detect suspicious traffic patterns, identify attack behaviors, <br>
                                and classify threats 
                                 using intelligent machine learning models in real time.</p>
                            <!-- tool content -->
                        </div>
                        <!-- best ai tools -->
                    </div>
                    <!-- banner bottom content -->
                </div>
                <!-- container -->
            </div>
        </section>
        <!--  -->
    </div>
    <!-- LOGOS SECTION -->
    <div class="float-left w-100 logos-con position-relative light-violet-bg overflow-hidden py-4">
        <div class="logos-wrapper wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
            <div class="logo-slider">
                <ul class="slider-track list-unstyled d-flex align-items-center m-5 p-0">
                    <!-- Original Logos -->
                <li><figure><p class="text-white">DoS Attacks</p></figure></li>
                <li><figure><p class="text-white">Probe Attacks</p></figure></li>
                <li><figure><p class="text-white">R2L Attacks</p></figure></li>
                <li><figure><p class="text-white">U2R Attacks</p></figure></li>
                <li><figure><p class="text-white">Malicious Traffic</p></figure></li>
                <li><figure><p class="text-white">Anomaly Signals</p></figure></li>
                <li><figure><p class="text-white">Threat Patterns</p></figure></li>



                    <!-- Duplicate for infinite scroll -->
                <li><figure><p class="text-white">DoS Attacks</p></figure></li>
                <li><figure><p class="text-white">Probe Attacks</p></figure></li>
                <li><figure><p class="text-white">R2L Attacks</p></figure></li>
                <li><figure><p class="text-white">U2R Attacks</p></figure></li>
                <li><figure><p class="text-white">Malicious Traffic</p></figure></li>
                <li><figure><p class="text-white">Anomaly Signals</p></figure></li>
                <li><figure><p class="text-white">Threat Patterns</p></figure></li>

                </ul>
            </div>
        </div>
    </div>

    <!-- ABOUT US SECTION -->
  <section class="float-left w-100 position-relative padding-top padding-bottom about-con main-box light-violet-bg"
    id="about">
    <figure><img src="static/images/left-glow.png" alt="glow" class="img-fluid position-absolute left-glow">
    </figure>
    <div class="container wow fadeIn" data-wow-duration="2s" data-wow-delay="0.3s">
        <div class="about-inner-con">
            <div class="heading-title-con mb-0 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.3s">

                <h6>About AnomAlert</h6>

                <h3>
                    A real-time Network Anomaly<br/> Detection system  
                    designed to <br/>identify cyber threats and sus<br/>picious traffic  
                    using advanced<br/> machine learning models.
                </h3>

                <a href="/about" class="text-decoration-none primary_btn d-inline-block mr-2 mt-5">Read More</a>

                <div class="about-contnt-wrap d-flex align-items-center">
                    <div class="satisfied-clients d-flex align-items-center justify-content-between">
                       

                        <div class="client-text">
                            <span class="d-inline-block text-white counter ">98</span>
                            <span class="d-inline-block alphabet text-white">%</span>
                            <sup class="d-inline-block text-white ">+</sup>
                            <span class="span-text d-block">Detection Accuracy</span>
                        </div>
                    </div>

                    <span class="d-inline-block text-white font-weight-600 partner-text">
                        Trusted by security analysts, researchers,<br>
                        and network monitoring teams.
                    </span>
                </div>
            </div>

            <div class="content-wrap position-relative wow fadeInRight" data-wow-duration="2s"
                data-wow-delay="0.4s">

                <!-- Replace images with your project-related images -->
                <!-- <figure class="about-img2 mb-0">
                    <img src="static/images/n3.jpg" alt="image" style="height:350px; width:400px;"
                        class="img-fluid d-inline-block position-absolute ">
                </figure> -->

                <figure class="img1 mb-0">
                    <img src="static/images/n7.jpg" alt="image"
                        class="img-fluid d-inline-block">
                </figure>
            </div>
        </div>
    </div>
</section>


    <!-- Our SERVICES SECTION -->
   <section class="float-left w-100 position-relative padding-bottom main-box our-services-con light-violet-bg">
    <figure><img src="static/images/right-glow.png" alt="glow" class="img-fluid position-absolute right-glow"></figure>
    <div class="container wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
        <div class="heading-title-con text-center">
            <h6 class="wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.3s">Our Services</h6>
            <h2 class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.4s">
                Real-Time <span>Network Anomaly Detection</span>  
                Powered by Intelligent Machine Learning Models.
            </h2>
        </div>

        <div class="row all_row wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.4s">

            <div class="col-lg-4 col-md-6 all_column">
                <div class="services-box w-100 position-relative">
                    <figure><img src="static/images/service-icon1.png" alt="icon" class="img-fluid"></figure>
                    <h4>Real-Time Traffic Monitoring</h4>
                    <p>Continuously analyze incoming network data to detect abnormal patterns instantly.</p>
                    <a href="" class="position-absolute"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 all_column">
                <div class="services-box w-100 position-relative">
                    <figure><img src="static/images/service-icon2.png" alt="icon" class="img-fluid"></figure>
                    <h4>Machine Learning–Based Detection</h4>
                    <p>ML models (MLP, RNN, LSTM) identify attacks like DoS, Probe, R2L, and U2R with high accuracy.</p>
                    <a href="" class="position-absolute"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 all_column">
                <div class="services-box w-100 position-relative">
                    <figure><img src="static/images/service-icon3.png" alt="icon" class="img-fluid"></figure>
                    <h4>Anomaly Classification</h4>
                    <p>Classifies threats into categories like DoS, Probe, R2L, and U2R to support faster response.</p>
                    <a href="" class="position-absolute"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 all_column">
                <div class="services-box w-100 position-relative">
                    <figure><img src="static/images/service-icon4.png" alt="icon" class="img-fluid"></figure>
                    <h4>Data Preprocessing & Visualization</h4>
                    <p>Automatically clean, normalize, and visualize network traffic for better anomaly insights.</p>
                    <a href="" class="position-absolute"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 all_column">
                <div class="services-box w-100 position-relative">
                    <figure><img src="static/images/service-icon5.png" alt="icon" class="img-fluid"></figure>
                    <h4>User Interface</h4>
                    <p>Simple interface to upload network data, view alerts, detect anomalies, and track results.</p>
                    <a href="" class="position-absolute"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 all_column">
                <div class="services-box w-100 position-relative">
                    <figure><img src="static/images/service-icon6.png" alt="icon" class="img-fluid"></figure>
                    <h4>Secure System Deployment</h4>
                    <p>Backend powered by Flask, ML models, and a MySQL database for reliable & storing user details.</p>
                    <a href="" class="position-absolute"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>

        </div>
    </div>
</section>

    <!-- WORK WITH US SECTION -->
<section class="float-left w-100 position-relative our-work-con padding-top padding-bottom main-box">
    <div class="container">
        <div class="heading-title-con text-center mb-0 wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.3s">
            <h6 class="wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.4s">AnomAlert</h6>

            <h2 class="text-white mb-3 wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.4s">
                Real-Time Network Anomaly Detection<br>
                Using Intelligent Machine Learning
            </h2>

            <p class="text-white wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.5s">
                AnomAlert monitors live network traffic and instantly identifies unusual patterns, attacks,
                and abnormal behaviors. Using trained ML models, our system analyzes user-submitted data
                and classifies threats such as DoS, Probe, R2L, and U2R in real time. 
                The platform is designed for accuracy, speed, and secure threat detection for modern networks.
            </p>

            <a href="/predict" class="text-decoration-none primary_btn d-inline-block mr-2 wow fadeInRight"
                data-wow-duration="2s" data-wow-delay="0.6s">Try AnomAlert</a>

            
        </div>
    </div>
</section>


    <!-- OUR PROJECTS SECTION -->
<section class="float-left w-100 position-relative padding-top our-projects-con main-box light-violet-bg">
    <figure><img src="static/images/left-glow.png" alt="glow" class="img-fluid position-absolute left-glow">
    </figure>
    <div class="container wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.3s">

        <div class="project-inner-con d-flex justify-content-between align-items-center">
            <div class="heading">
                <h6>Our Project</h6>
                <h2>Real-Time <span>Network Anomaly Detection</span> <br>
                    Powered by Machine Learning</h2>
            </div>
            <a href="/methodology" class="text-decoration-none primary_btn">Details</a>
        </div>

        <div class="d-flex flex-row flex-nowrap overflow-hidden card-gallery">

            <!-- Card 1 -->
            <div class="card-container active">
                <div class="custom-card ml-0 position-relative">
                    <img src="static/images/n3.jpg" class="card-img" alt="Card 1">
                    <div class="card-top-contnt">
                        <span class="badge mr-2">Network</span>
                        <span class="badge">Real-Time</span>
                    </div>
                    <div class="card-content">
                        <div class="content-inner">
                            <h4>Live Traffic Monitoring</h4>
                            <p class="mb-0">
                                Continuous packet analysis to detect abnormal network behavior instantly.
                            </p>
                        </div>
                        <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="card-container">
                <div class="custom-card">
                    <img src="static/images/n5.jpg" class="card-img" alt="Card 2">
                    <div class="card-top-contnt">
                        <span class="badge mr-2">ML Model</span>
                        <span class="badge">Detection</span>
                    </div>
                    <div class="card-content">
                        <div class="content-inner">
                            <h4>Anomaly Classification</h4>
                            <p class="mb-0">
                                Classifies attacks such as DoS, Probe, R2L, and U2R using ML models.
                            </p>
                        </div>
                        <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="card-container">
                <div class="custom-card">
                    <img src="static/images/n2.jpg" class="card-img" alt="Card 3">
                    <div class="card-top-contnt">
                        <span class="badge mr-2">ML</span>
                        <span class="badge">Models</span>
                    </div>
                    <div class="card-content">
                        <div class="content-inner">
                            <h4>MLP, RNN & LSTM Models</h4>
                            <p class="mb-0">
                                Deep learning models trained for high-accuracy intrusion detection.
                            </p>
                        </div>
                        <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="card-container">
                <div class="custom-card mr-0">
                    <img src="static/images/n6.jpg" class="card-img" alt="Card 4">
                    <div class="card-top-contnt">
                        <span class="badge mr-2">Database</span>
                        <span class="badge">MySQL</span>
                    </div>
                    <div class="card-content">
                        <div class="content-inner">
                            <h4>User Data & Logs Storage</h4>
                            <p class="mb-0">
                                Secure storage of user details, traffic logs, detection results & reports.
                            </p>
                        </div>
                        <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

    <!-- PRICING PLANS SECTION -->
 <section
    class="float-left w-100 position-relative pricing-plans-con padding-top padding-bottom main-box light-violet-bg">
    <figure><img src="static/images/right-glow.png" alt="glow"
            class="img-fluid position-absolute right-glow">
    </figure>
    <div class="container">
        <div class="heading-title-con text-center">
            <h6 class="wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.3s">
                System Features
            </h6>
            <h2 class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.4s">
                Powerful <span>Anomaly Detection</span> Modules<br>
                Built for Accuracy and Real-Time Analysis
            </h2>
        </div>

        <div class="row all_row">

            <!-- Module 1 -->
            <div class="col-lg-6 col-md-6 all_column wow fadeInLeft" data-wow-duration="2s"
                data-wow-delay="0.4s">
                <div class="pricing-box w-100 d-flex justify-content-between">
                    <div class="plan-content">
                        <h3 class="text-white">Network Data Monitoring</h3>
                        <p>Continuously analyzes live network traffic<br>to identify suspicious behavior.</p>
                    </div>

                    <div class="plan-listing">
                        <ul class="list-unstyled p-0 text-white">
                            <li class="position-relative"><i class="fa-solid fa-check"></i>Real-time packet
                                analysis</li>
                            <li class="position-relative"><i class="fa-solid fa-check"></i>Anomaly pattern
                                detection</li>
                            <li class="position-relative"><i class="fa-solid fa-check"></i>Traffic behaviour
                                profiling</li>
                            <li class="position-relative"><i class="fa-solid fa-check"></i>Instant alert
                                generation</li>
                        </ul>
                        <a href="#" class="text-decoration-none primary_btn">View Details</a>
                    </div>
                </div>
            </div>

            <!-- Module 2 -->
            <div class="col-lg-6 col-md-6 all_column wow fadeInRight" data-wow-duration="2s"
                data-wow-delay="0.5s">
                <div class="pricing-box w-100 d-flex justify-content-between">
                    <div class="plan-content">
                        <h3 class="text-white">ML-Based Threat Classification</h3>
                        <p>AI model trained on network datasets to<br> classify attacks with high accuracy.</p>
                    </div>

                    <div class="plan-listing">
                        <ul class="list-unstyled p-0 text-white">
                            <li class="position-relative"><i class="fa-solid fa-check"></i>DoS / DDoS detection</li>
                            <li class="position-relative"><i class="fa-solid fa-check"></i>Probe & scanning
                                attack detection</li>
                            <li class="position-relative"><i class="fa-solid fa-check"></i>R2L & U2R threat
                                identification</li>
                            <li class="position-relative"><i class="fa-solid fa-check"></i>Model-based risk
                                scoring</li>
                        </ul>
                        <a href="#" class="text-decoration-none primary_btn">View Details</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



    <!-- BUILD SECTION -->
<section class="build-con position-relative float-left w-100 main-box">
    <figure><img src="static/images/right-glow.png" alt="glow" class="img-fluid position-absolute right-glow"></figure>
    <div class="container">
        <div class="row">
            
            <!-- Image Section -->
            <div class="col-lg-5 col-12 order-lg-1 order-2 wow fadeInLeft" data-wow-duration="2s"
                data-wow-delay="0.3s">
                <div class="build_wrapper">
                    <figure class="build-image mb-0" style="justify-content: left;">
                        <img src="static/images/n6.jpg" alt="image" class="img-fluid" >
                    </figure>
                </div>
            </div>

            <!-- Content Section -->
            <div class="col-lg-7 col-12 order-lg-2 order-1 wow fadeInRight" data-wow-duration="2s"
                data-wow-delay="0.4s">
                <div class="build_content">
                    <h1>Let’s Build a <span>Secure & Intelligent</span> Network Together</h1>
                    <p class="text-white mb-3">
                        AnomAlert uses Machine Learning to detect suspicious activities in real time—ensuring 
                        safer networks, faster threat detection, and smarter decision making.
                    </p>
                    <a href="/predict" class="text-decoration-none primary_btn">Get Started</a>
                </div>
            </div>

        </div>
    </div>
</section>

  
  {% endblock body %}