  {% extends "base.html" %}
  {% block body %}
      <section class="sub-banner-con float-left w-100 position-relative">
    <div class="container">
        <div class="sub-banner-inner-wrap">
            <h1>Methodology</h1>
            <p>
                Our AnomAlert System follows a complete Machine Learning workflow — <br/> 
                from collecting network traffic data to real-time anomaly detection, 
                ensuring secure and intelligent network monitoring.
            </p>

            <div class="breadcrumb-con d-inline-block">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Methodology</li>
                </ol>
            </div>
        </div>
    </div>
</section>

        <!--  -->
    </div>
    <!-- Our SERVICES SECTION -->
   <section class="float-left w-100 position-relative padding-bottom main-box our-services-con light-violet-bg">
    <figure><img src="static/images/right-glow.png" alt="glow" class="img-fluid position-absolute right-glow"></figure>
    <div class="container wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
        <div class="heading-title-con text-center">
            <h6 class="wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.3s">Our Services</h6>
            <h2 class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.4s">
                Real-Time <span>Network Anomaly Detection</span>  
                Powered by Intelligent Machine Learning Models.
            </h2>
        </div>

        <div class="row all_row wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.4s">

            <div class="col-lg-4 col-md-6 all_column">
                <div class="services-box w-100 position-relative">
                    <figure><img src="static/images/service-icon1.png" alt="icon" class="img-fluid"></figure>
                    <h4>Real-Time Traffic Monitoring</h4>
                    <p>Continuously analyze incoming network data to detect abnormal patterns instantly.</p>
                    <a href="" class="position-absolute"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 all_column">
                <div class="services-box w-100 position-relative">
                    <figure><img src="static/images/service-icon2.png" alt="icon" class="img-fluid"></figure>
                    <h4>Machine Learning–Based Detection</h4>
                    <p>ML models (MLP, RNN, LSTM) identify attacks like DoS, Probe, R2L, and U2R with high accuracy.</p>
                    <a href="" class="position-absolute"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 all_column">
                <div class="services-box w-100 position-relative">
                    <figure><img src="static/images/service-icon3.png" alt="icon" class="img-fluid"></figure>
                    <h4>Anomaly Classification</h4>
                    <p>Classifies threats into categories like DoS, Probe, R2L, and U2R to support faster response.</p>
                    <a href="" class="position-absolute"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 all_column">
                <div class="services-box w-100 position-relative">
                    <figure><img src="static/images/service-icon4.png" alt="icon" class="img-fluid"></figure>
                    <h4>Data Preprocessing & Visualization</h4>
                    <p>Automatically clean, normalize, and visualize network traffic for better anomaly insights.</p>
                    <a href="" class="position-absolute"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 all_column">
                <div class="services-box w-100 position-relative">
                    <figure><img src="static/images/service-icon5.png" alt="icon" class="img-fluid"></figure>
                    <h4>User Interface</h4>
                    <p>Simple interface to upload network data, view alerts, detect anomalies, and track results.</p>
                    <a href="" class="position-absolute"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 all_column">
                <div class="services-box w-100 position-relative">
                    <figure><img src="static/images/service-icon6.png" alt="icon" class="img-fluid"></figure>
                    <h4>Secure System Deployment</h4>
                    <p>Backend powered by Flask, ML models, and a MySQL database for reliable & storing user details.</p>
                    <a href="" class="position-absolute"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>

        </div>
    </div>
</section>
    <!-- WORK WITH US SECTION -->
<section class="float-left w-100 position-relative our-work-con padding-top padding-bottom main-box">
    <div class="container">
        <div class="heading-title-con text-center mb-0 wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.3s">
            <h6 class="wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.4s">AnomAlert</h6>

            <h2 class="text-white mb-3 wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.4s">
                Real-Time Network Anomaly Detection<br>
                Using Intelligent Machine Learning
            </h2>

            <p class="text-white wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.5s">
                AnomAlert monitors live network traffic and instantly identifies unusual patterns, attacks,
                and abnormal behaviors. Using trained ML models, our system analyzes user-submitted data
                and classifies threats such as DoS, Probe, R2L, and U2R in real time. 
                The platform is designed for accuracy, speed, and secure threat detection for modern networks.
            </p>

            <a href="/predict" class="text-decoration-none primary_btn d-inline-block mr-2 wow fadeInRight"
                data-wow-duration="2s" data-wow-delay="0.6s">Try AnomAlert</a>

            
        </div>
    </div>
</section>

    <!-- BUILD SECTION -->
<section class="build-con position-relative float-left w-100 main-box">
    <figure><img src="static/images/right-glow.png" alt="glow" class="img-fluid position-absolute right-glow"></figure>
    <div class="container">
        <div class="row">
            
            <!-- Image Section -->
            <div class="col-lg-5 col-12 order-lg-1 order-2 wow fadeInLeft" data-wow-duration="2s"
                data-wow-delay="0.3s">
                <div class="build_wrapper">
                    <figure class="build-image mb-0" style="justify-content: left;">
                        <img src="static/images/n6.jpg" alt="image" class="img-fluid" >
                    </figure>
                </div>
            </div>

            <!-- Content Section -->
            <div class="col-lg-7 col-12 order-lg-2 order-1 wow fadeInRight" data-wow-duration="2s"
                data-wow-delay="0.4s">
                <div class="build_content">
                    <h1>Let’s Build a <span>Secure & Intelligent</span> Network Together</h1>
                    <p class="text-white mb-3">
                        AnomAlert uses Machine Learning to detect suspicious activities in real time—ensuring 
                        safer networks, faster threat detection, and smarter decision making.
                    </p>
                    <a href="/predict" class="text-decoration-none primary_btn">Get Started</a>
                </div>
            </div>

        </div>
    </div>
</section>
  {% endblock body %}